<!DOCTYPE html>
<html>
<head>
    <title>Scrabble Scorer!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">    
        <h1>Let's see how many points you score for that word in scrabble!</h1>
        <form action="/output" method="post">
            <label for="userInput">Please enter a word</label>
            <input id="userInput" name="userInput" type="text">
            <button type="submit">What is that word worth?!</button> 
        </form>
    </div>
</body>
</html>